@charset "UTF-8";

.list {
  /* flex container */
  display: flex;
  flex-flow: column nowrap;
  /* style */
  width: 300px;
}
.list__item {
  /* flex container */
  display: flex;
  /* style */
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.list__item--rev {
  /* flex container */
  flex-direction: row-reverse;
}
.list__icon {
  /* flex item */
  flex: 0 auto;
  /* style */
  margin-right: 10px;
}
.list__icon--center {
  /* flex item */
  align-self: center;
}
.list__icon--end {
  /* flex item */
  align-self: flex-end;
}
.list__vote {
  display: block;
  color: #ccc;
}
.list__vote {
  display: block;
  color: #ccc;
}
.list__vote:hover{
  color: #333;
}
.list__body {
  /* flex item */
  flex: 1;
  /* flex container */
  display: flex;
  flex-flow: column nowrap;
  /* style */
  color: #333;
  text-decoration: none;
}
.list__body:hover {
  text-decoration: underline;
}
.list__image {
  vertical-align: top;
}
.list__title {
  font-weight: bold;
}
.list__text {
  color: #333;
}
