@charset "UTF-8";

.block {
  /* flex container */
  display: flex;
  flex-direction: column;
  /* style */
  height: auto;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  background-color: #eee;
  margin-bottom: 20px;
}

.block__header,
.block__container,
.block__footer {
  /* flex item */
  flex: 0 0 auto;
  /* style */
  padding: 5px;
  border: 3px solid #000;
  background-color: #6fa8dc;
}

.block__container {
  /* flex container */
  display: flex;
  flex-direction: row;
  /* style */
  margin: 10px 0;
}

@media screen and (max-width: 400px) {
  .block__container {
    /* flex container */
    flex-direction: column;
  }
}

.block__nav,
.block__article,
.block__ad {
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  border: 3px solid #000;
}

.block__ad,
.block__nav {
  /* flex item */
  flex: 0 0 auto;
  /* style */
  min-width: 100px;
  background-color: #9fc5f8;
}

@media screen and (max-width: 400px) {
  .block--order .block__article {
    /* flex item */
    order: -1;
  }
}

.block__article {
  /* flex item */
  flex: 1 0 auto;
  /* style */
  background-color: #a2c4c9;
}
