@charset "UTF-8";

.flex { display: flex; width: 900px; }
.flex__item-1 { flex-basis: 100px; }
.flex__item-2 { flex-basis: 200px; }
.flex__item-3 { flex-basis: 300px; }

/*theme*/
.flex { background-color: gray; }
.flex__item-1 { background-color: orange; }
.flex__item-2 { background-color: skyblue; }
.flex__item-3 { background-color: purple; }
