@charset "UTF-8";

.block {
  /* style */
  width: 350px;
  background-color: skyblue;
}
.block__item {
  height: 50px;
  margin: 10px;
  background-color: slateblue;
}

.flexbox {
  /* flex container */
  display: flex;
  flex-direction: column;
  /* style */
  width: 350px;
  background-color: skyblue;
}

.flexbox__item {
  height: 50px;
  margin: 10px;
  background-color: gold;
}
