@charset "UTF-8";


.main {
  background-color: #eee;
  padding: 10px 10px 0;
  border-radius: 5px;
}


.list {
  display: flex;
  flex-flow: row wrap;
  margin-left: -10px;
}
.list__item {
  /* flex container */
  display: flex;
  /*flex item*/
  flex-flow: column wrap;
  /* style */
  box-sizing: border-box;
  width: 25%;
  padding-left: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 700px) {
  .list__item {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .list__item {
    width: 100%;
  }
}


.goods {
  /* flex container */
  display: flex;
  flex-flow: column nowrap;
  /* flex item */
  flex: 1 0 auto;
  /* style */
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}
.goods__thumb {
  /* flex item */
  flex: none;
  /* style */
  margin-bottom: 10px;
}
.goods__title {
  /* flex item */
  flex: none;
  align-self: center;
  /* style */
  margin-bottom: 10px;
  font-weight: bold;
}
.goods__detail {
  /*  */
  flex: 1 0 auto;
  /* style */
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}
.goods__link {
  margin-top: 10px;
  align-self: flex-end;
}
.goods__image {
  width: 100%;
  height: auto;
  vertical-align: top;
}
