@charset "UTF-8";

.list {
  padding: 10px 10px 0;
  height: 390px;
  display: flex;
  flex-flow:column wrap;
  align-content: flex-start;
  background-color: #ccc;
}
.list__item {
  display: flex;
  width: 120px;
  height: 100px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #fff;
}


.goods {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.goods__title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.goods__thumb {
  margin-top: 5px;
}
.goods__image {
  vertical-align: top;
}
.goods__text {
  margin-top: 5px;
  font-size: 12px;
}
